*{
    margin: 0px;
    padding: 0px;
}

header{
    border: 2px solid aqua;
    width:100vw;
    display: flex;
    height: 50vh;
    justify-content:center;
    align-content: center;

}

.intro{
    /* border: 2px solid red; */
    width: 70vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.back2{
    /* border: 2px solid green; */
    background-color: orangered;
    display: flex;
    width:30%;
    /* align-items: end; */
}
.back1{
    /* border: 3px solid red; */
    width:100vw;
    display: flex;
    justify-content: center;
   
}

.image{
    position: absolute;
    /* position: fixed; */
    top: 50px;
    left: 60vw;
    /* left: 60vw;
    top: 7vh; */
}
.intro a{
    color: orange;
    text-decoration: none;
    border: 1px solid orange;
}
.intro h1{
    color: orange;
}

section{
    border: 2px solid aqua;
    width:100vw;
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content:center;
    align-content: center;
    justify-content: space-evenly;
}

.about{
   color: white;
   display: flex;
   justify-content:center;
   align-items: center;
   justify-content: space-between;
   gap:20px;
}

.frame{
    border:4px solid orange;
    width: 150px;
    height: 150px;
    display: flex;
    position: absolute;
    left: 200px;
}

.img{
    display: flex;
    position: relative;
    height: 200px;
    left:0px;
}

.about1{
    display: flex;
    flex-direction:column ;
    justify-content: baseline;
    align-items: baseline;

   
}

.button1 a{
    color: orange;
    border: 1px solid orange;
    text-decoration: none;
}

section2{
   border: 2px solid aqua;
    width:100vw;
    height: 80vh;
    /* margin: 0; */
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    justify-content: space-evenly;
    flex: wrap;
}


div2{
    /* border: 2px solid blue; */
    height: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   
    /* align-content: center; */
    gap:20px;
}
article1{
    display: flex;
    flex-direction: column;
    border:2px solid rebeccapurple;
    color: white;
    height: 180px;
    justify-content: center;
    align-content: center;
    background-color: aqua;
    width: 40vw;
}
article2{
    display: flex;
    flex-direction: column;
    border:2px solid rebeccapurple;
    color: white;
    height: 180px;
    width:40vw;
    justify-content: center;
    align-content: center;
    background-color: yellow;

}
article3{
    display: flex;
    flex-direction: column;
    border:2px solid rebeccapurple;
    color: white;
    height: 180px;
    width:40vw;
    justify-content: center;
    align-content: center;
    background-color: pink;
}
article4{
    display: flex;
    flex-direction: column;
    border:2px solid rebeccapurple;
     color: white;
    height: 180px;
    width:40vw;
    justify-content: center;
    align-content: center;
    background-color: greenyellow;
}